body {
    background: #888888;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

button {
    width: 400px;
    height: 100px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

h1 {
    font-size: 36px;
    text-align: center;
}

input {
    display: block;
    height: 60px;
    width: 320px;
    background: #4182b8;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

label {
    display: block;
    font-size: 27px;
}

textarea {
    background: #4182b8;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 2px solid #f0d43a;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

.form-input {
    grid-column: 2;
}

.entry {
    background: rgba(59, 74, 107, .4);
}

.holder-headline {
    grid-column: 1 / span 3;
    grid-row: 1;
}

#app {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#holder-button {
    grid-column: 1 / span 2;
    grid-row: 4;
}

#holder-entry {
    grid-column: 3;
    grid-row: 2/ span 3;
}

#holder-zip {
    grid-column: 2;
    grid-row: 2;
}

#holder-country {
    grid-column: 1;
    grid-row: 2;
}

#holder-feel {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#most-recent {
    font-size: 27px;
}